* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  color: #837e9f;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #1e1e1e;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 40px;
  gap: 60px;
}

.container1 {
  width: 348px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.card-container {
  background-color: #302f3d;
  border-radius: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3.0625rem;
  padding-top: 2rem;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 100%;
}

.profile > img {
  border: 3px solid #00ff00;
  margin-bottom: 1.875rem;
}

.profile > p {
  margin-bottom: 0.625rem;
  font-weight: bold;
  font-size: 23px;
}

.profile > span {
  font-weight: lighter;
  font-size: 13px;
}

.card-contents {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-contents > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.size12-span-card-contents {
  font-size: 12px;
}

.size13-span-card-contents {
  font-size: 13px;
}

.technologies {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 12px;
  font-weight: lighter;
}

h4 {
  font-size: 12px;
}

.technologies > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 10px;
}

.experiences,
.education {
  padding: 30px 20px;
}

.experiences > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
  padding-top: 20px;
}

.education > ul {
  padding-left: 40px;
  padding-top: 20px;
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 59.5rem;
}

.my-projects,
.recent-posts {
  width: 100%;
  height: 5.375rem;
  display: flex;
  align-items: center;
  padding: 30px;
}

.my-onix-container {
  display: flex;
  gap: 30px;
}

.my-onix-left-contents > div > img {
  width: 1.25rem;
  height: 1.25rem;
}

.my-onix-left-contents,
.my-onix-right-contents {
  display: flex;
  flex-direction: column;
  width: 28.8125rem;
  height: 11.625rem;
  padding: 30px;
  gap: 22px;
}

.my-onix-left-contents > div:nth-child(1) {
  display: flex;
  gap: 16px;
}

.my-onix-right-contents > div:nth-child(1) {
  display: flex;
  gap: 16px;
}

.ellipse {
  margin-left: 7.0625rem;
}

.my-onix-left-contents > p {
  font-size: 14px;
}

.my-onix-right-contents > p {
  font-size: 14px;
}

.icons-myOnix {
  display: flex;
  gap: 16px;
}

.icons-myOnix > div {
  display: flex;
  gap: 8px;
}

.icons-myOnix > img {
  width: 1.25rem;
  height: 1.25rem;
}

.icons-myOnix > span {
  font-size: 14px;
}

.avatar-description-container {
  width: 100%;
  height: 12.5625rem;
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.descriptions-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.description-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description-top > h5 {
  font-size: 18px;
  font-weight: bold;
}

.description-top > p {
  font-size: 14px;
}

.description-bottom {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.description-bottom > div {
  display: flex;
  gap: 8px;
}

.description-bottom > div > p {
  font-size: 14px;
}

section {
  font-size: 16px;
}
